@media(max-width:761px){
    .main {clip-path: none;}

    nav{
        align-items: center;
        justify-content: center;
    }

    .logoElement{
        margin: 0 20;
    }

    .logoimg{
        width: auto;
        max-width: 80%;
    }

    .navMenu{
        flex-wrap: nowrap;
        flex: 100%;
    }

    .menuItem{
        font-size: 100%;
    }

    .navLimit{
        display: none;
    }



    .aimg2, .aimg3, .aimg4,  #abo, #aboe{
        background-attachment: scroll;
    }
}