@media(max-width:761px){
    .main {clip-path: none;}

    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logoimg{
        width: 80%;
    }

    .navMenu{
        flex: 100%;
        display: flex;
    }

    .menuItem{
        font-size: 100%;
    }

    .navLimit{
        font-size: 90%;
    }



    .aimg2, .aimg3, .aimg4,  #abo, #aboe{
        background-attachment: scroll;
    }
}