@media(max-width:761px){
    .main {clip-path: none;}

    nav{
        align-items: center;
        justify-content: center;
    }

    .logoimg{
        width: auto;
        max-width: 20em;
    }

    .navMenu{
        flex-wrap: nowrap;
        flex: 100%;
    }

    .menuItem{
        font-size: 1.2em;
    }

    .navLimit{
        display: none;
    }

    .aimg2, .aimg3, .aimg4,  #abo, #aboe{
        background-attachment: scroll;
        min-height: 200px;
    }
    #aboe{
        clip-path: none;
           
    }

    .atext .border{
        background-color: transparent;
        padding: 0;
    }
}